<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Webscraping

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Use webscraping to get bank information

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [4]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y
!mamba install bs4==4.10.0 -y
!mamba install html5lib==1.1 -y

'mamba' is not recognized as an internal or external command,
operable program or batch file.
'mamba' is not recognized as an internal or external command,
operable program or batch file.

## Imports

Import any additional libraries you may need here.

In [1]:
from bs4 import BeautifulSoup
import html5lib
import requests
import pandas as pd

## Extract Data Using Web Scraping

The wikipedia webpage [https://en.wikipedia.org/wiki/List_of_largest_banks](https://en.wikipedia.org/wiki/List_of_largest_banks?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) provides information about largest banks in the world by various parameters. Scrape the data from the table 'By market capitalization' and store it in a JSON file.

### Webpage Contents

Gather the contents of the webpage in text format using the `requests` library and assign it to the variable <code>html_data</code>

In [2]:
#Write your code here
url = "https://en.wikipedia.org/wiki/List_of_largest_banks"

response = requests.get(url)
html_data = response.text

<b>Question 1</b> Print out the output of the following line, and remember it as it will be a quiz question:

In [3]:
html_data[101:124]

'List of largest banks -'

### Scraping the Data

<b> Question 2</b> Using the contents and `beautiful soup` load the data from the `By market capitalization` table into a `pandas` dataframe. The dataframe should have the bank `Name` and `Market Cap (US$ Billion)` as column names.  Display the first five rows using head.

Using BeautifulSoup parse the contents of the webpage.

In [40]:
#Replace the dots below
soup = BeautifulSoup(html_data, 'html.parser') #html parsing

table = soup.find_all('table') # find all tables
   
table_data = table[2] # 2nd table is the one we want

Load the data from the `By market capitalization` table into a pandas dataframe. The dataframe should have the bank `Name` and `Market Cap (US$ Billion)` as column names. Using the empty dataframe `data` and the given loop extract the necessary data from each row and append it to the empty dataframe.

In [43]:
data = pd.DataFrame(columns=["Name", "Market Cap (US$ Billion)"]) #create a dataframe structure with just columns
  
for row in table_data.find_all('tr'): #in html table row is represented by the tag <tr>
    # Get all columns in each row.    
    cols = row.find_all('td') # in html a column is represented by the tag <td>  
    if len(cols) == 0: #remove the first row as there is no data or out of index error occur
        continue
    else: 
        bank_name  = cols[1].find_all('a')[1].get('title') # find bank name and get the title from the <a> tag
        bank_asset = cols[2].string.strip() # store the string value with removing the \n
        data_list =  pd.DataFrame({'Name':[bank_name],'Market Cap (US$ Billion)':[bank_asset]}) #input each data value as a list to concat
        data = pd.concat([data,data_list],axis = 0,ignore_index=True) #instead of append function, using concat to join back to the first empty data frame created.

**Question 3** Display the first five rows using the `head` function.

In [45]:
#Write your code here
data.head()

                                      Name Market Cap (US$ Billion)
0                           JPMorgan Chase                   368.78
1  Industrial and Commercial Bank of China                   295.65
2                          Bank of America                   279.73
3                              Wells Fargo                   214.34
4                  China Construction Bank                   207.98

### Loading the Data

Usually you will Load the `pandas` dataframe created above into a JSON named `bank_market_cap.json` using the `to_json()` function, but this time the data will be sent to another team who will split the data file into two files and inspect it. If you save the data it will interfere with the next part of the assignment.

In [46]:
#Write your code here
data.to_json()

'{"Name":{"0":"JPMorgan Chase","1":"Industrial and Commercial Bank of China","2":"Bank of America","3":"Wells Fargo","4":"China Construction Bank","5":"Agricultural Bank of China","6":"HSBC","7":"Citigroup","8":"Bank of China","9":"China Merchants Bank","10":"Royal Bank of Canada","11":"Toronto-Dominion Bank","12":"Commonwealth Bank","13":"Ita\\u00fa Unibanco","14":"U.S. Bancorp","15":"Goldman Sachs","16":"Banco Santander","17":"Morgan Stanley","18":"Westpac","19":"Mitsubishi UFJ Financial Group","20":"Scotiabank","21":"PNC Financial Services","22":"Bank of Communications","23":"BNP Paribas","24":"Australia and New Zealand Banking Group","25":"National Australia Bank","26":"Lloyds Banking Group","27":"Sumitomo Mitsui Financial Group","28":"Bank of Montreal","29":"UBS","30":"ING Group","31":"Capital One","32":"The Bank of New York Mellon","33":"China Minsheng Bank","34":"China CITIC Bank","35":"Banco Bilbao Vizcaya Argentaria","36":"Mizuho Financial Group","37":"Intesa Sanpaolo","38":"Cr\\u00e9dit Agricole","39":"Canadian Imperial Bank of Commerce","40":"NatWest Group","41":"Barclays","42":"Credit Suisse","43":"Nordea","44":"Standard Chartered","45":"KBC Bank","46":"UniCredit","47":"Soci\\u00e9t\\u00e9 G\\u00e9n\\u00e9rale","48":"Deutsche Bank"},"Market Cap (US$ Billion)":{"0":"368.78","1":"295.65","2":"279.73","3":"214.34","4":"207.98","5":"181.49","6":"169.47","7":"163.58","8":"151.15","9":"133.37","10":"113.80","11":"106.61","12":"99.77","13":"85.68","14":"84.40","15":"78.70","16":"75.47","17":"73.93","18":"67.84","19":"66.20","20":"65.48","21":"63.11","22":"61.85","23":"59.36","24":"54.88","25":"51.68","26":"51.19","27":"49.85","28":"48.12","29":"45.92","30":"44.97","31":"43.22","32":"42.58","33":"39.13","34":"38.55","35":"37.42","36":"36.95","37":"36.90","38":"34.89","39":"34.87","40":"33.95","41":"33.26","42":"30.75","43":"29.59","44":"29.37","45":"27.40","46":"26.88","47":"21.27","48":"15.77"}}'

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By          | Change Description                 |
| ----------------- | ------- | ------------------- | ---------------------------------- |
| 2022-07-12        | 0.2     | Appalabhaktula Hema | Corrected the code and markdown    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy   | Created initial version of the lab |

Copyright Â© 2020 IBM Corporation.